<div id="order-comment">
    <div class="clearfix"></div>

    <div class="title title-without-tabs clearfix">
        {intl l="Comment" d="ordercomment"}
    </div>

    {ifloop rel="order_comment_loop"}
        {loop type="order.comment.comment" name="order_comment_loop" order_id="$order_id" }
            <ul class="list-unstyled">
                <li><strong>{intl l="Message" d="ordercomment"} :</strong></li>
                <li>{$ORDER_COMMENT|nl2br nofilter}</li>
            </ul>
        {/loop}
    {/ifloop}

    {elseloop rel="order_comment_loop"}
        {intl l="No comment for this order was defined." d="ordercomment"}
    {/elseloop}
</div>