<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {intl l="Customer comment" d="ordercomment.bo.default"}
        </h3>
    </div>
    <div class="panel-body">
        {$comment = ''}
        {loop type="order.comment.comment" name="order_comment_loop" order_id=$order_id}
            {$comment = $ORDER_COMMENT}
        {/loop}

        {if $comment}
            {$comment|nl2br nofilter}
        {else}
            {intl l="No comment for this order was defined." d="ordercomment.bo.default"}
        {/if}
    </div>
</div>
