{form name="order.comment.form"}
    <form id="order-comment-form" action="{url path='/ordercomment/set/comment'}" method="post">
        {form_hidden_fields form=$form}
        <div class="panel panel-default">
            <div class="panel-heading">
                {intl l="Add your comment" d="ordercomment.fo.default"}
            </div>
            <div class="panel-body">
                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                <div id="alert-comment"></div>
                {form_field form=$form field='comment'}
                    <textarea class="form-control" name="{$name}" placeholder="{intl l='Type your message here' d='ordercomment.fo.default'}">{loop type="order.comment.session.comment" name="session-order-comment" }{ifloop rel="session-order-comment"}{$ORDER_COMMENT}{/ifloop}{/loop}</textarea>
                {/form_field}
            </div>
        </div>

        <a href="{navigate to="index"}" role="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> {intl l="Continue Shopping"}</a>
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-chevron-right"></i> {intl l="Proceed checkout"}</button>
    </form>
{/form}
